

body {
    overflow: hidden;
}
.perallex{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#text{
    position: absolute;
    font-size: 80px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0 , .2);
}
.perallex img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}
.sec{
    position: relative;
    background: #003329;
    padding: 100px;
}

body {
    overflow-x: hidden; /* Horizontal scrolling disabled */
    overflow-y: auto;   /* Vertical scrolling enabled when necessary */
}







